name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  PYTHON_VERSION: "3.10"
  IMAGE_NAME: deep-fish-bone-segmentation

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    # -------------------------------------------------
    # Checkout repository
    # -------------------------------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # -------------------------------------------------
    # Set up Python
    # -------------------------------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    # -------------------------------------------------
    # Cache pip dependencies
    # -------------------------------------------------
    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    # -------------------------------------------------
    # Install dependencies
    # -------------------------------------------------
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install huggingface_hub


    # -------------------------------------------------
    # Run tests
    # -------------------------------------------------
    - name: Run tests
      run: |
        if [ -d "tests" ]; then
          pip install pytest
          pytest -v
        else
          echo "No tests directory found, skipping tests."
        fi

    # -------------------------------------------------
    # Build Docker image (on push only) (uncomment this for CI integration )
    # -------------------------------------------------
    #- name: Build Docker image
    #  if: github.event_name == 'push'
     # run: |
     #   docker build -t $IMAGE_NAME:latest .

